:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --white: #fff;

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--slate);
  background-color: var(--white);
}
a {
  text-decoration: none;
}
ul{
  list-style-type: none;
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-blue {
  color: var(--navy-blue);
}

.logo-white {
  color: var(--cloud);
}

.nav-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.nav-item:hover,
.nav-item:focus {
  color: var(--ocean);
}
.address{
  font-style: normal;
}

.address-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--slate);
}

.address-item:hover,
.address-item:focus {
  color: var(--ocean);
}
.hero {
  background-color: var(--navy-blue);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}
.order-button {
  cursor: pointer;

  font-family: var(--font-family);
  background-color: var(--iris);
  font-size: 16px;
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: 1.5;
  color: var(--white);
}

.minestone-item-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.minestone-item-text{
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.order-button:hover,
.order-button:focus {
  background-color: var(--ocean);
}

.team {
  background-color: var(--cloud);
}

.team-item {
  background-color: var(--white);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.team-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

.portfolio{
  background-color: var(--cornflower);
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}

.portfolio-item {
  background-color: var(--white);
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.footer {
  background-color: var(--navy-blue);
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}